<div class="panier-container">
  <h2>Votre Panier</h2>
  
  @if (contenuPanier().length === 0) {
    <p class="vide">Votre panier est vide.</p>
  } @else {
    <ul class="liste-panier">
      @for (item of contenuPanier(); track item._id) {
        <li>
          <div class="infos-item">
            @if (item.image) {
              <img [src]="item.image" [alt]="item.nom" class="mini-image">
            } @else {
              <span class="icone">🛒</span>
            }
            
            <div class="details-item">
              <span class="nom-produit">
                {{ item.nom }} 
                <span class="badge-quantite">x{{ item.quantite }}</span>
              </span>
              <span class="prix-item">{{ item.prix ? item.prix + ' € / unité' : 'Prix non défini' }}</span>
            </div>
          </div>

          <div class="actions-item">
            <span class="sous-total">{{ (item.prix * item.quantite) | number:'1.2-2' }} €</span>
            
            <button class="btn-supprimer" (click)="supprimerItem(item._id)" title="Retirer 1 article">
              <svg viewBox="0 0 24 24" class="icon-trash">
                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
              </svg>
            </button>
          </div>
        </li>
      }
    </ul>

    <div class="total-container">
      <h3>Total de votre commande :</h3>
      <span class="prix-total">{{ totalPanier() | number:'1.2-2' }} €</span>
    </div>
  }
</div>